body{
	background-color: rgb(210,210,210);
	
}



header{
	
	background-color: rgb(120,0,0);
	
	padding: 15px;
	
	text-align: center;	
	
	color: white;
}
	
txtContent{
	
	margin-right: 15px;
	
	padding: 20px;
	
	background-color: white;
	
	width: 70%;
	
	height: 100%;
	
	border-left: 6px solid rgb(120,0,0);

}





.imgPoster{
	
	width: 30%;

	height: 70%;
}
}



.content{

	width: 100%;

	display: inline-flex;

	text-align: left;

}
